.game{
    margin: auto;
    width: 60%;
    /* border: 3px solid #73AD21;    */
    padding: 10px;
}

.menu{
    float: right;
    margin-right: 200px;
    margin-top: 15px;
}

iframe{
    margin: auto;
    width: 920px;
    height: 520px;
    display:block
} 


